<h2>{{myHero.name | uppercase}} Details</h2>
<div><span>id: </span>{{myHero.id}}</div>
<div><span>name: </span>{{myHero.name}}</div>

<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="myHero.name" placeholder="name">
</div>

<h2>My Heroes</h2>
<ul class="heroes">
  <li
    *ngFor="let hero of heroes"
    (click)="onSelect(hero)"
    [class.selected]="hero === selectedHero"
  >
    <span class="badge">{{hero.id}}</span> {{hero.name | removeSpaces}}
  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<label>
  <input type="text" appCustominput />
</label>

